#homeTweets{
	max-width: 500px;
	margin: auto;
	border-left: 1px solid grey;
	border-top: 1px solid grey;
	border-right: 1px solid grey;
}

.tweet .username{
	font-weight: bold;
	font-size: 16px;
}

.tweet .time{
	color: grey;
}

.tweet{
	border-bottom: 1px solid grey;
	overflow-wrap: initial;
	display: flex;
	width: 100%;
}

a{
	color: white;
	text-decoration: none;
}

.tweetImage{
	padding: 10px;
	height: 100%;
}

.imageWrapper{
	height: 60px;
	width: 60px;
	border-radius: 30px;
	overflow: hidden;
}

.imageWrapper img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}