#homeTweets{
	max-width: 500px;
	margin: auto;
	border-left: 1px solid grey;
	border-top: 1px solid grey;
	border-right: 1px solid grey;
}

.tweet .username{
	font-weight: bold;
	font-size: 16px;
}

.tweet .time{
	color: grey;
}

#homeTweets .tweet{
	border-bottom: 1px solid grey;
	padding: 0 5px 0 5px;
	overflow-wrap:initial;
}
.tweetLink{
	text-decoration: none;
	color: white;
}

#tweetContent{
	width: 100%;
	overflow: hidden;
}