#compose{
	margin-top: 50px;
}

#compose textarea{
	width: 100%;
	height: 200px;
	background-color: rgb(50, 50, 50);
	border: none;
	resize: none;
	padding: 20px;
	border-radius: 10px;
	font-size: 20px;
	color: white;
}

#compose input[type="submit"]{
	width: 150px;
}